{% extends "excel_factory/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
	{% block content %}
        <h1>Index</h1>
        <a href="{% url 'insert_xsg' %}">Insert_xsg</a><br>
        <a href="{% url 'insert_wyg' %}">Insert_wyg</a><br>
        <a href="{% url 'insert_cz' %}">Insert_cz</a><br>
        <a href="{% url 'insert_ddcx' %}">Insert_ddcx</a><br>
        <a href="{% url 'insert_ddmx' %}">Insert_ddmx</a><br>

        <br>
        <a href="{% url 'search_xsg' %}">Search_xsg</a><br>
        <a href="{% url 'search_wyg' %}">Search_wyg</a><br>
 	{% endblock %}
</body>
</html>