{% extends "excel_factory/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	{% block content %}
    <h1>Insert_wyg</h1>
        <form method="post" action="{% url 'insert_wyg' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="wyg" accept=".csv"><br>
            <input type="text" placeholder="沃云购表头所在行" name="header_line" value="1"><br>
            <input type="submit" value="上传沃云购文件" class="button">
        </form>
        <a href="{% url 'index' %}"><button class="button">返回</button></a>
    {% endblock %}


</body>
</html>