{% extends "excel_factory/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}
<table border="0" cellspacing="0" cellpadding="0">
    {% if xm %}
    <div class="table_title">
    	<b>{{ xm }}项目订单报表</b>
    </div>
    {% endif %}
    {% if table %}
        {% for row in table %}
        <tr>
            {% for col in row %}
                <td>{{ col }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    {% endif %}
</table>
{% endblock %}
</body>
</html>